<ea-panel id="toolbar" class="sticky">
  <div class="logo-container">
    <div class="toolbar-links">
      <a [routerLink]="['/']">
        <img class="logo" alt="" src="../assets/images/crown.svg">
      </a>
      <a [routerLink]="['/consulting']" [routerLinkActive]="['is-active']">Consulting</a>
      <a [routerLink]="['/software']" [routerLinkActive]="['is-active']">Software</a>
      <a [routerLink]="['/mode']" [routerLinkActive]="['is-active']">MODE</a>
    </div>
    <a href="https://william708.typeform.com/to/LgLpl8">
      <button>
        <p>Get in Touch</p>
      </button>
    </a>
  </div>
</ea-panel>
