<footer>
  <div class="big-footer-container">
    <aside>
      <img class="logo" alt="" src="../assets/images/crown.svg">
    </aside>
    <main class="hide-sm">
      <ul>
        <li>
          <h3 style="font-size: 1.2rem; margin-bottom:0;">Products</h3>
        </li>
        <li>
          <span class="hvr-underline-from-center">
            <a href="https://eang.io"> eang</a>
          </span>
        </li>
        <li>
            <span class="hvr-underline-from-center">
              <a [routerLink]="['/mode']">MODE</a>
            </span>
          </li>
      </ul>
      <ul>
        <li>
          <h3 style="font-size: 1.2rem; margin-bottom:0;">Services</h3>
        </li>
        <li>
          <span class="hvr-underline-from-center">
            <a [routerLink]="['/consulting']">Process Consulting</a>
          </span>
        </li>
        <li>
          <span class="hvr-underline-from-center">
            <a [routerLink]="['/software']">Software Development</a>
          </span>
        </li>
      </ul>
      <!-- <ul>
        <li>
          <h3>Connect</h3>
        </li>
        <li>
          <span class="hvr-underline-from-center">Twitter</span>
        </li>
        <li>
          <span class="hvr-underline-from-center">Blog</span>
        </li>
      </ul> -->
    </main>
  </div>
</footer>

<ea-panel id="footer">
  <div class="footer-container">
    <span>EA Mode, LLC | All Rights Reserves &copy; 2018</span>
    <div class="socials-icons">
      <img src="../../assets/images/github-white.svg" alt="">
    </div>
  </div>
</ea-panel>
