<div class="ea-card m-1 p-1">
  <div class="ea-card-content">
    <img class="eang-header-img" src="../../assets/images/eang-header.svg" alt="">
    <div>
      <img src="../../assets/images/shield.svg" alt="Shield">
      <h3>Meet Eang</h3>
      <p>Eang is an easily themable and composable web components library that allows you
        to scale your development. It is built to support functional programming and real-time applications.
      </p>
    </div>
  </div>
</div>

<div class="ea-card m-1 p-1">
  <div class="ea-card-header">
    <div class="title">
      <h3>Our Development Process</h3>
      <h2 style="text-align: center;">How we get from concept to production</h2>
    </div>
  </div>
  <div class="ea-card-content col">
    <div class="ea-card" *ngFor="let offering of software">
      <div class="ea-card-header">
        <div>
          <img style="width: 2rem;" src="../../assets/images/{{offering.img}}" alt="">
          <h2 style="margin:0;">{{offering.description}}</h2>
        </div>
      </div>
      <div class="ea-card-content">
        <p style="margin-top: 0;">
          {{offering.detail}}
        </p>
      </div>
    </div>
  </div>
</div>


<div class="ea-card m-1 p-1">
  <div class="ea-card-content flex-content-center">
    <div class="p-1">
      <img src="../../assets/images/software.svg" alt="Software">
    </div>
  </div>
  <div class="offering-text">
    <h3>Develop incredible software</h3>
    <p>Utilize our automated deployment, Open Source components, and rapid development
      methods to deliver what you need.</p>
  </div>
</div>


<div class="contact m-1 p-1">
  <h1 style="text-align:center;">Get started developing on Eang
    <br> for free</h1>
  <a href="https://eang.io">
    <img alt="eang.io" src="../../assets/images/eang-logo.svg" width="100em" height="100">
  </a>
</div>

<!-- <div class="slack-cta">
  <div class="offering-text">
    <h3>Get started with, eang</h3>
    <h2>or get in touch for a review of your needs.</h2>

  </div>
  <div class="image">
    <button>
      <p>eang</p>
      <img style="width: 3rem;" src="../../assets/images/eang-logo.svg" alt="">
    </button>
  </div>
</div> -->