<section id="banner">
  <h1>Enabling faster business transformation</h1>
  <p>EA Mode offers consulting services guided by our lightweight MODE methodology, a collection of best practices for modern
    business process management and integrated enterprise architecture. </p>
  <aside>
    <ul>
      <li class="ea-card">
        <a href="/about#services-documentation">
          <h2>Documentation</h2>
          <p class="cta-text">Full end-to-end process documentation. Available in your secure process repository.</p>
          <div class="learn-more">
            <span>Learn More</span>
            <img src="../../assets/images/arrow.svg" alt="">
          </div>
        </a>
      </li>
      <li>
        <a href="/about#mode-platform">
          <h2>MODE Platform</h2>
          <p class="cta-text">Analytics, alerts, and (enterprise-wide) process orchestration, done with less.</p>
          <div class="learn-more">
            <span>Learn More</span>
            <img src="../../assets/images/arrow.svg" alt="">
          </div>
        </a>
      </li>
      <li>
        <a href="/about#sdlc">
          <h2>Development</h2>
          <p class="cta-text">Managed Software Dvelopment Life Cycle (SDLC) from concept to implementation. </p>
          <div class="learn-more">
            <span>Learn More</span>
            <img src="../../assets/images/arrow.svg" alt="">
          </div>
        </a>
      </li>
    </ul>
  </aside>
</section>

<section class="two-col">
  <div class="offering">
    <div class="offering-text">
      <h3>Business Process Documentation</h3>
      <h2>Organize your enterprise into one, central repository of all your process documentation.</h2>
      <ul>
        <li>
          <img src="../../assets/images/e2e.svg" alt="">
          <div>Review and documentation of existing standards</div>
        </li>
        <li>
          <img src="../../assets/images/standardization.svg" alt="">
          <div>Organization-wide standardization and integration strategy</div>
        </li>
        <li>
          <img src="../../assets/images/target.svg" alt="">
          <div>KPI measurement and implementation plan</div>
        </li>
      </ul>
    </div>
    <div class="image">
      <img class="value-image" src="../../assets/images/documentation.svg" alt="">
    </div>
  </div>
</section>

<section class="two-col">
  <div class="offering">
    <div class="offering-text">
      <h3>real-time analytics</h3>
      <h2>Integrate your Business Process with the MODE Olap Cube and sync up with any BI tool you choose.</h2>
      <ul>
        <li>
          <img src="../../assets/images/target.svg" alt="">
          <div>KPI measurement and implementation plan</div>
        </li>
        <li>
          <img src="../../assets/images/alert.svg" alt="">
          <div>Real-time alerts and monitoring around KPIs</div>
        </li>
        <li>
          <img src="../../assets/images/connected.svg" alt="">
          <div>Managed infrustructure for system-wide integrations</div>
        </li>
      </ul>
    </div>
    <div class="image">
      <img class="value-image" src="../../assets/images/analytics.svg" alt="">
    </div>
  </div>
</section>

<section class="two-col">
  <div class="offering">
    <div class="image">
      <img class="value-image" src="../../assets/images/software.svg" alt="">
    </div>
    <div class="offering-text">
      <h3>Custom Software Development</h3>
      <h2>We support custom software development by aligning ourselves with clients software development needs.</h2>
      <ul>
        <a href="https://eang.io">
          <li>
            <img src="../../assets/images/eang-logo.svg" alt="">
            <div>We develop open source technologies to support digital transformation. (learn more)</div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>



<!-- <section id="team" class="benefits">
  <div class="title team">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>The eaTeam</span>
  </div>
  <main class="benefit-cards">
    <ea-card></ea-card>
  </main>
</section> -->
<!-- <section class="team">
  <app-team></app-team>
</section> -->
