<section id="banner">
  <style>
    h1 {
      --ea-h1-font-family: 'Georgia';
    }
  </style>
  <div class="banner-main-container">
    <div class="banner-main-text">
      <h1>Enabling business transformation</h1>
      <p class="banner-text">A collection of best practices for modern business process management and integrated enterprise architecture. </p>
    </div>
    <div class="banner-main-image">
      <img class="value-image" src="../../assets/images/bannerMain.svg" alt="">

    </div>

  </div>

</section>

<section class="services-card">
  <!-- <img src="../../assets/images/clouds.svg" alt=""> -->
  <h1>Our services</h1>
  <h2>End-to-end support for your needs.</h2>
  <div class="card-container" style="max-width: 1200px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center;">
    <div *ngFor="let service of services" class="ea-card">
          <h3>
            {{service.name}}
          </h3>
    </div>
  </div>
</section>


<div class="slack-cta">
  <div class="offering-text">
    <h3>Join the conversation</h3>
    <h2>Our Slack has the latest in greatest in what we're looking at.</h2>

  </div>
  <div class="image">
    <button>
      <p>Join our Slack </p>
      <img src="../../assets/images/slack.svg" alt="">
    </button>
  </div>
</div>



<!-- <section id="team" class="benefits">
  <div class="title team">
    <div class="cover"></div>
    <img src="../assets/images/line.svg" alt="">
    <span>The eaTeam</span>
  </div>
  <main class="benefit-cards">
    <ea-card></ea-card>
  </main>
</section> -->
<!-- <section class="team">
  <app-team></app-team>
</section> -->
