
.offering h2 {
  margin: -8px 0 24px;
}

.offering ul {
  margin: 0;
  padding: 0;
}

.offering ul li {
  list-style: none;
  display: flex;
  margin: 0 0 24px 0;
}

.offering ul li img {
  height: 25px;
  width: 25px;
}

.offering ul li div {
  margin: 0;
  font-size: 18px;
  padding-left: 18px;
}

.documentation {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 40%;
}

.value-image {
  width: 100%; 
}
