.mode ea-panel {
  & div {
    display: flex;
    align-items: center;
    & .logo {
      width: 45px;
      padding-left: 1rem;
    }
  }
  & span {
    padding-left: 1rem;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
