<div class="ea-card m-1 p-1">
  <div class="ea-card-content">
    <div>
      <img src="../../assets/images/clipboard.svg" alt="" />
      <h3>A collective of experts</h3>
      <p>
        Our collective experience is here to support your needs across key
        aspects of business. We stay on the cutting edge of the latest in
        technology to share our knowledge with you.
      </p>
    </div>
    <div class="ea-card">
      <div class="ea-card-header">
        <h2 class="m-1">Areas of Expertise</h2>
      </div>
      <div class="ea-card-content">
        <div id="enterprises" class="flex-space-between" *ngFor="let name of expertise">
          <div>
            <p class="expertise-name-detail">{{ name.detail }}</p>
            <p *ngFor="let text of name.subdetail">
              <img  src="../../assets/images/award.svg" 
              style="width: 8%; padding-right: 0.5rem;" alt="" />{{ text.text }}
            </p>
          </div>
          <img src="../../assets/images/check.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ea-card m-1 p-1">
  <div class="ea-card-header">
    <div>
      <h3>The Mode Methodology</h3>
      <h2>Model Dependent Rapid Development</h2>
    </div>
  </div>
  <div class="ea-card-content col" grid>
    <div class="ea-card" *ngFor="let offering of consulting">
      <div class="ea-card-header">
        <div>
          <img src="../../assets/images/{{offering.img}}" />
          <h2>{{ offering.description }}</h2>
        </div>
      </div>
      <div class="ea-card-content">
        <p>{{ offering.detail }}</p>
      </div>
    </div>
  </div>
</div>

<div class="ea-card m-1 p-1">
  <div class="ea-card-content" grid>
    <div>
      <h3>Create your product blueprint</h3>
      <p>
        Start your project with a roadmap of necessary steps to success. Our
        blueprint will guide you through your development process.
      </p>
    </div>
    <div class="flex-content-center">
      <img src="../../assets/images/documentation.svg" alt="" />
    </div>
  </div>
</div>

<div class="contact p-1">
  <h1 style="text-align:center;">Find out how we can support you</h1>
  <a href="https://william708.typeform.com/to/vsvBcf">
    <button>Get in Touch</button>
  </a>
</div>