<div class="offering">
  <div class="expertise">
    <div class="ea-card">
      <div class="ea-card-header">
        <h3>Areas of Expertise</h3>
      </div>
      <div class="ea-card-content" *ngFor="let name of expertise">
        <div class="expertise-detail">
          <p>{{name.detail}}</p>
          <img src="../../assets/images/check.svg" alt="">
        </div>
      </div>

    </div>
  </div>
  <div class="offering-text-1">
    <img src="../../assets/images/clipboard.svg" alt="">
    <h3>Organize your process</h3>
    <h2>Organize your enterprise into one, central repository of all your process documentation.</h2>
  </div>
</div>

<div class="value-props">
  <div class="title">
    <h3>Organize your process</h3>
    <h2>This is how we do things</h2>
  </div>
  <div class="prop">
  <div class="ea-card"  *ngFor="let offering of consulting">
      <div class="ea-card-header">
        <img src="../../assets/images/{{offering.img}}" alt="">
        <h1>{{offering.description}}</h1>
      </div>
      <div class="ea-card-content">
        <p style="margin-top: 0;">
          {{offering.detail}}
        </p>
      </div>
    </div>
  </div>
</div>


<div class="offering">
  <div class="offering-text">
    <h3>Organize your process</h3>
    <h2>Organize your enterprise into one, central repository of all your process documentation.</h2>

  </div>
  <div class="image">
    <img class="value-image" src="../../assets/images/documentation.svg" alt="">
  </div>
</div>


<div class="contact">
  <img style="position: absolute; height: 19rem;" src="../../assets/images/bricks.svg" alt="">
  <h3>Get in touch</h3>
  <button>Get Started</button>
</div>
