// @import 'eang/css/mode.css';
// @import 'styles/offering.pcss';
// @import 'styles/toolbar.pcss';
// @import 'styles/footer.pcss';
// @import 'styles/main-header.pcss';

/***************************/
@import '~eang/css/mode.css';
// @import './styles/offering.scss';
// @import './styles/main-header.scss';
// @import './styles/toolbar.scss';

:root {
  --toolbar-height: 4rem;
  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }

  h1,
  h3 {
    --ea-font-1: 'Georgia';
  }
}

body {
  margin: 0;
}
.mode {
  --ea-h3-font-family: 'Georgia';

  #toolbar {
    --ea-panel-height: var(--toolbar-height);
    --ea-panel-color: var(--ea-color-1);
    background-color: var(--ea-color-background-1);
    border-bottom: 1px solid var(--ea-color-background-2);

    display: flex;
    align-items: center;
    & .logo {
      padding-left: 1rem;
      width: 40px;
      @media only screen and (max-width:700px) {
        width: 25px;
      }
    }
    & span {
      padding-left: 0.25rem;
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main-container {
    margin-top: var(--toolbar-height);
    display: flex;
    justify-content: center;
  }

  #banner {
    padding: 4rem 0;
    text-align: center;
    & p.banner-text {
      padding: 0 0 4rem 0;
      border-bottom: 1px solid var(--ea-color-background-7);
    }
    & .ea-card {
      width: 28%;
      max-width: 1200px;
      text-align: left;
      min-width: 20rem;
      flex-wrap: wrap;
      @media only screen and (max-width: 700px) {
        width: 85%;
      }
      .ea-card-content {
        flex-direction: column;
        & .cta-text {
          margin: 0.5rem;
        }
      }
    }
    & .ea-card-content {
      & img {
        width: 100%;
      }
    }
    & .ea-card-header {
      // --ea-card-header-background: var(--ea-color-background-2);
      & h2 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }

  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  eamode-about {
    max-width: 1200px;
    @media only screen and (max-width: 1200px) {
      max-width: 95%;
    }
  }

  .offering {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    @media only screen and (max-width: 600px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    & ul {
      margin: 0;
      padding: 0;
      & li {
        list-style: none;
        display: flex;
        margin: 0 0 24px 0;
        & img {
          height: 25px;
          width: 25px;
        }
        & div {
          margin: 0;
          font-size: 18px;
          padding-left: 18px;
        }
      }
      & a {
        color: var(--ea-color-1);
      }
    }
    .image {
      max-width: 50%;
      min-width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 600px) {
        max-width: 90%;
      }
      & img {
        max-width: 80%;
        min-width: 40%;
      }
    }
  }
  .offering-text {
    width: 60%;
    @media only screen and (max-width: 600px) {
      width: 90%;
      margin-bottom: 2rem;
    }
    & h2 {
      width: auto;
      font-size: 20px;
      font-weight: 500;
      margin: -8px 0 24px;
    }
    & h3 {
      color: var(--ea-color-background-5);
      margin: 0 0 12px;
      font-size: 2.5rem;
    }
  }
}
