// @import 'eang/css/mode.css';
// @import 'styles/offering.pcss';
// @import 'styles/toolbar.pcss';
// @import 'styles/footer.pcss';
// @import 'styles/main-header.pcss';

/***************************/
@import '~eang/css/mode.css';
// @import './styles/offering.scss';
// @import './styles/main-header.scss';
// @import './styles/toolbar.scss';

:root {
  --toolbar-height: 4rem;
}

body {
  margin: 0;
}

#toolbar {
  --ea-panel-height: var(--toolbar-height);
  --ea-panel-color: var(--ea-color-3);
  & .logo {
    width: 40px;
  }
}

.main-container {
  margin-top: var(--toolbar-height);
  display: flex;
  justify-content: center;
}


#banner {
  & .ea-card {
    width: 20rem;
  }
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
}
