// @import 'eang/css/mode.css';
// @import 'styles/offering.pcss';
// @import 'styles/toolbar.pcss';
// @import 'styles/footer.pcss';
// @import 'styles/main-header.pcss';

/***************************/
@import '~eang/css/mode.css';
// @import './styles/offering.scss';
// @import './styles/main-header.scss';
// @import './styles/toolbar.scss';

:root {
  --toolbar-height: 4rem;
  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }

  h1,
  h3 {
    --ea-font-1: 'Georgia';
    font-family: var(--ea-font-1);
  }
}

body {
  margin: 0;
}
.mode {

  #toolbar {
    --ea-panel-height: var(--toolbar-height);
    --ea-panel-color: var(--ea-color-1);
    background-color: var(--ea-color-background-1);
    border-bottom: 1px solid var(--ea-color-background-2);

    display: flex;
    align-items: center;
    justify-content: center;
    & .logo-container {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & button {
        transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
        p {
          margin: 0;
          color: var(--ea-color-3);
          font-size: 1rem;
          padding: 0 1rem;
        }
      }
    }
    & .logo {
      width: 120px;
      @media only screen and (max-width: 700px) {
        width: 65px;
      }
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main-container {
    margin-top: var(--toolbar-height);
    display: flex;
    justify-content: center;
  }

  #banner {
    padding: 12rem 0;
    & .banner-main-container {
      display: flex;
      height: 20rem;
    }
    & .banner-main-text {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & .banner-main-image {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      & img {
        width: 70.6%;
      }
    }
  }

  .services-card {
    width: 100vw;
    background: var(--ea-color-background-7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0;
    margin-bottom: 4rem;
    & h2 {
      margin: 0 0 4rem 0;
    }
    & .ea-card {
      width: 28%;
      max-width: 1200px;
      text-align: left;
      min-width: 20rem;
      flex-wrap: wrap;
      border: none;
      box-shadow: none;
      transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
      @media only screen and (max-width: 700px) {
        width: 85%;
      }
      &:hover {
        & .ea-card-header {
          background: var(--ea-color-background-2);
          color: var(--ea-color-3);
        }
        cursor: pointer;
        transform: scale(1.04);
        box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.2);
      }
      & .ea-card-content {
        flex-direction: column;
        & .cta-text {
          margin: 0.5rem;
        }
      }
    }
  }

  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #banner,
  .offering {
    max-width: 1200px;
    @media only screen and (max-width: 1200px) {
      max-width: 95%;
    }
  }

  eamode-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offering {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    @media only screen and (max-width: 600px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    & ul {
      margin: 0;
      padding: 0;
      & li {
        list-style: none;
        display: flex;
        margin: 0 0 24px 0;
        & img {
          height: 25px;
          width: 25px;
        }
        & div {
          margin: 0;
          font-size: 18px;
          padding-left: 18px;
        }
      }
      & a {
        color: var(--ea-color-1);
      }
    }
    .image {
      max-width: 50%;
      min-width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 600px) {
        max-width: 90%;
      }
      & img {
        max-width: 80%;
        min-width: 40%;
      }
    }
  }
  .offering-text {
    width: 60%;
    @media only screen and (max-width: 600px) {
      width: 90%;
      margin-bottom: 2rem;
    }
    & h2 {
      width: auto;
      font-size: 20px;
      font-weight: 500;
      margin: -8px 0 24px;
    }
    & h3 {
      color: var(--ea-color-background-5);
      margin: 0 0 12px;
      font-size: 2.5rem;
    }
  }
  #footer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ea-color-3);
    background: var(--ea-color-background-2);
    & .footer-container {
      width: 1200px;
      display: flex;
      justify-content: space-between;
    }
  }
}
